@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  color: #FAF7F7;
  margin-top: 100px;
}

/* ------------- Images ------------- */

.img-fluid {
  width: 100%;
}

#calendar_image {
  height: intrinsic;
}

/* ------------- Navbar ------------- */

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link {
  color: #FaF7F7;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #CA8989;
}

.navbar-light .navbar-toggler {
  color: #faf7f703;
  border-color: #faf7f700;
}

.navbar {
  position: fixed;
  margin-bottom: 15px;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.582);
}

.active {
  padding-left: 16px;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  font-size: 16px;
  text-align: left;
}

a.nav-link .navbar-nav {
  font-size: 16px;
  text-align: center;
  color: #FAF7F7;
}

.nav-item .nav-link {
  padding-left: 16px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/selfmade_toggler_icon.png");
}

/* ------------- Buttons ------------- */

.btn_purple {
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  width: 125px;
  color: #FAF7F7;
  background-color: #4A3F46;
  border-color: none;
}

.btn_close {
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  width: 125px;
  color: #FAF7F7;
  background-color: #4A3F46;
  border-color: none;
}

.btn:hover {
  color: #4A3F46;
  background-color: #CDBCCC;
  border-color: none;
}

#btn_follow {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 150px;
}

#btn_view {
  width: 175px;
  font-size: 18px;
}

#btn_more-info {
  width: 200px;
}

#btn_more-info a {
  color: #FAF7F7;
  text-decoration: none;
}

/* ------------- Modals ------------- */

.modal {
  background-color: rgba(29, 27, 29, 0.616);
}

/* ------------- Homepage ------------- */

#homepage {
  background: url("../images/homepage.jpg") no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  position: fixed;
}

/* ------------- Daily life content ------------- */

#dailylife {
  background-color: #c9777f;
  ;
}

#daily {
  padding-left: 0px;
  padding-right: 0px;
}

#daily-content {
  height: 150px;
  margin-bottom: 25px;
}

#influence {
  margin-left: 15px;
}

/* ------------- Daily life modal ------------- */

#daily-modal {
  background-color: #FAF7F7;
  border-color: #FAF7F7;
  color: #4A3F46;
  font-size: 16px;
}

#blue_moon {
  width: 200px;
  height: 200px;
}

/* ------------- Moon calendar content ------------- */

#mooncalendar {
  background-color: #866061;
}

#download-text {
  color: #FAF7F7;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.modal-footer {
  border: none;
}

/* ------------- Moon phases content ------------- */

#moonphases {
  background-color: #7A6C7E;
}

.phasescard {
  background-color: #7A6C7E;
  border-color: #7A6C7E;
  max-width: 100%;
}

@media screen and (max-width: 767.98px) {
  .phasescard {
    text-align: center;
  }
  img.card-img {
    width: 225px;
    height: 225px;
  }
}

/* ------------- Meditations content ------------- */

#meditations {
  background-color: #52547A;
}

.meditationcard {
  background-color: #52547A;
  border-color: #52547A;
  text-align: center;
  width: 100%;
}

.img-card {
  background-color: #52547A;
  border-color: #52547A;
}

.meditation-img {
  width: 40%;
}

iframe {
  border: none;
  width: 325px;
  height: 225px;
}

/* ------------- Footer ------------- */

.fixed-bottom {
  background-color: rgba(3, 3, 3, 0.582);
  margin: 0;
}

footer i {
  color: #FAF7F7;
}

footer .list-inline {
  padding-left: 32px;
  padding-right: 20px;
  list-style: none;
  margin-top: 16px;
}

::before {
  padding: 3px;
  color: #FAF7F7;
}

@media screen and (max-width: 767.98px) {
  .social-links {
    text-align: center;
  }
}