@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #FAF7F7;
}

#homepage {
    background: url("../images/homepage.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

#mooncalendar {
    background-color: #9E7B78;
}

#moonphases {
    background-color: #7A6C7E;
}

#dailylife {
    background-color: #E3A99D;
    border-color: #E3A99D;
}

#meditations {
    background-color: #52547A;
}

/* ------------- Overlays ------------- */

.transparant-overlay {
    position: relative;
    background-color: rgb(255, 255, 255, 0.25);
}

#daily-overlay {
    position: sticky;
    background-color: #E3A99D;
}

/* ------------- Images ------------- */

.img-fluid {
    width: 100%;
}

@media screen and (max-width: 768px) {
    p.card-text {
        text-align: center;
    }
    h5.card-title {
        text-align: center;
    }

    img.card-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ------------- Navbar ------------- */

.navbar-light .navbar-nav .nav-link {
    color: #FAF7F7;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FaF7F7;
}

.navbar-light .navbar-toggler {
    color: #faf7f703;
    border-color: #faf7f700;
}

.navbar {
    position: fixed;
    width: 100%;
}

#navbar-calendar{
    position: sticky;
}

.navbar-light .active {
    padding-left: 16px;
    text-decoration: underline 1px solid #FAF7F7;
    text-underline-offset: 5px;
    font-size: 16px;
    text-align: left;
}

a.nav-link .navbar-nav {
    font-size: 16px;
    text-align: center;
    color: #FAF7F7;
}

.nav-item .nav-link {
    padding-left: 16px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/selfmade_toggler_icon.png");
}

/* ------------- Buttons ------------- */

.btn_purple {
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    width: 125px;
    color: #FAF7F7;
    background-color: #4A3F46;
    border-color: #4A3F46;
}

.btn:hover {
    color: #4A3F46;
    background-color: #CDBCCC;
    border-color: #CDBCCC;
}

#btn_follow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 150px;
}

#btn_download { 
    width: 175px;
    font-size: 20px;
}

#btn_more-info {
    width: 200px;
}
#btn_more-info a {
    color: #FAF7F7;
    text-decoration: none;
}

/* ------------- Callout ------------- */

.callout-container {
margin-top: 350px;
margin-left: 32px;
}

.callout-container p {
    font-size: large;
    font-weight: 100;
}

@media screen and (max-width: 670px) {
    .callout-container {
        margin-top: 275px;
        margin-left: 16px;
    }

    h1.hpage_responsive {
        width: 60%;
    }

    h3.hpage_responsive {
        width: 65%;
    }

    p.hpage_responsive {
        margin-top: 15px;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .hpage_responsive {
        width: 100%;
        font-size: xx-large;
    }
    .callout-container {
        margin-top: 575px;
    }
}

/* ------------- Daily life content ------------- */

.moon-header {
    position: relative;
    text-align: center;
    font-size: xx-large;
}

#text_header {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.daily-content p {
    margin-top: 32px;
    margin-bottom: 64px;
    margin-left: 32px;
    margin-right: 32px;
    font-size: 20px;
}

p#inbetween-text {
    margin-bottom: 32px;
}

.daily-content div.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 768px) {
    .daily-content p {
        margin-left: 16px;
        margin-right: 16px;
    }

    .moon-header {
        font-size: 22px;
    }
    #text_header {
        top: 82%;
    }
}


/* ------------- Calendar content ------------- */

.calendar-content {
    margin-top: 150px;
}

h1 {
    margin-top: 25px;
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .calendar-content {
        margin-top: 50px;
    }
    h1 {
        margin-top: 0px;
    }
    p {
        margin-top: 10px;
    }
}

/* ------------- Phases content ------------- */

.phasescard {
    background-color: #7A6C7E;
    border-color: #7A6C7E;
    max-width: 100%;
}

p.card-text {
    font-size: 14px;
}

img.card-img {
    max-width: 300px;
    height: 300px;
    margin-bottom: 32px;
}

/* ------------- Meditations content ------------- */

.meditationcard {
    background-color: #52547A;
    border-color: #52547A;
    max-width: 100%;
}

.meditationcard img.card-img {
    margin-bottom: 64px;
}

.meditationcard p.card-text {
    margin-bottom: 64px;
}

.meditationcard iframe {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 768px) {
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* ------------- Footer ------------- */

.fixed-bottom {
    background-color: rgb(255, 255, 255, 0.25);
    padding: 8px, 0px;
    margin: 0;
}

#footer-daily {
    background-color: #E3A99D;
}

footer i {
    color: #FAF7F7;
}
footer .list-inline {
    padding-left: 32px;
    padding-right: 20px;
    list-style: none;
    margin-top: 16px;
}

.contact {
    float: right;
}

.contact span {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.contact i {
    padding-right: 2px;
}

::before {
    padding: 3px;
}

@media screen and (max-width: 600px) {
    .contact {
        display: none;
    }
}